nav {
    background-color: #86B6D9;
    overflow: hidden;
}

nav a {
    color: black;
    padding: 16px 85px;
    display: block;
    font-size: 20px;
    border-right: #73acc9 solid 2px;
    text-align: center;
}

.menu_left {
    float: left;
}

nav a:hover {
    background-color: #DDD;
    color: black;
}