*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Menu*/
#header{
    background-color: rgb(251, 201, 18);
    font-weight: 600;
    margin-bottom: 20px;
}
/*Banner*/
.img_banner{
    margin-bottom: 20px;
    width: 800px;
}
/*Sale*/
.img-sale{
    margin-top: 20px;
    width: 1116px;
}
/*Product*/
#product{
    margin-top: 20px;
    
}
.img-product{
    width: 190px;
    height: 190px;
}
.rating{
    list-style: none;
    display: flex;
    font-size: 20px;
    padding: 0;
}