*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    float: right;
    margin-top: 32px;
}

.search{
    border: 1px solid black;
    height: 60px;
    width: 100%;
    margin-bottom: 20px; 
}

.search-input{
    margin: 15px 30px;
    width: 600px;
    padding: 5px;
}

.search-button{
    border-radius: 5px;
    padding: 7px;
    border: none;
    color: white;
    background-color: #5CB85C;
}

.content{
    border: 1px solid black;
    height: 500px;
}

.content-button{
    border-radius: 5px;
    margin: 15px 10px;
    padding: 7px;
    color: white;
    border: none;
    background-color: #5BC0DE;
}

.productDetail{
    max-width: 1100px;
    max-height: 100%;
    margin-left: 10px;
    text-align:center;
}

.productDetail tr {
    margin-top: 10px;
}

.edit{
    background-color: #F0AD4E;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.delete{
    background-color: #D9534F;
    color: white;
    border: none;
    padding: 10px;
    border-radius:5px ;
}

.TransferBar{
    background-color: white;
    display: flex;
    list-style: none;
}

.TransferBar-item{
    padding: 10px 15px;
    border: 1px solid #5BC0DE;
}

.TransferBar a{ 
    color: #5BC0DE;
    text-decoration: none;
}

.TransferBar-item:hover{
    background-color: #337AB7;
}