
.container-fluid{
    justify-content: space-between;
    background-color: #FED100;
    .box{
        margin: 0;
        padding: 0;
        a{
            text-decoration: none;
            color: initial;
            font-weight: bold;
        }
        li{
            text-align: center;
            list-style:  none;
            padding: 15px 20px;
        }
    }
}

.Products{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;
    .Product_name{
        height: 75px;
    }
    .Product_item{
        width: 300px;
        margin-top: 20px;
    }
    .Products-img{
        width: 220px;
    }
    .rating{
        margin: 7px 0;
        list-style: none;
        display: flex;
        font-size: 20px; 
        padding-inline-start: 0px
    }
    .icon_shop{
        padding: 0 ;
    }
}

