*{
    margin: 0;
    padding: 0;
}

.box{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 330px 330px 330px 330px;
    grid-template-rows: repeat(3,calc(100vh/3 - 6.7px) ) ; 
    gap: 10px;
    background-color: #2B2E56;
    
}

.one{
    background-color: #6DBE4F;
    grid-row: 1/ 4;
    float: left;
    
}

.two{
    background-color: #6DBE4F;
    grid-column: 2 / span 2;
}

.three{
    background-color: red;

}

.four{
    background-color: #FBB22F;
}

.five{
    background-color: red;
}

.six{
    background-color: #6DBE4F;
    grid-area: 2/4/4/5;
}

.seven{
    background-color: red;
}

.eight{
    background-color: #FBB22F;
}
