 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  .container-fluid{
    background-color: white;
    margin: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

.title-one{
    color: rgb(60, 216, 255);
    text-align: left;
}

.img-one{
    width: 100%;
}

.text-one{
    text-align: left;
}

.text-center h3{
    font-weight: bold;
}

.box-one{
    background-color: #d8ebeb;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box-one_text{
    font-weight: bold;
    color: #3c8db0;
}

.button-one{
    color: #d68111;
}

.img-responsive-avatar{
    margin-top: 15px;
    height: 200px ;  
    width: 200px ;
    border-radius: 50% ;
}

.text-name{
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
}

.container-fluid{
    background-color: rgba(97, 95, 95,0.2);
}

.w3-bold{
    font-weight: bold;
}

.c1{
    padding: 10px 16px;
}

.list-title{
    font-size: 20px;
}

.list-main{
    text-transform: uppercase;
    padding: 16px; 
}

.list-content{
    font-size: 10px;
    
}

.button-enjoy{
    font-size: 13px;
    border-radius: 5px;
    border: 0px;
    margin: 10px 16px;
    background-color: #FFA500;
}

.column1{
    list-style: none;
}

.month{
    float: left;
}

.img-avatar{
    float: right;
    height: 170px; 
    width: 170px;
    text-align: end;
    border: 20px solid #DEE7EB;
    border-radius: 50%;
}