.Menu{
    background-color: #FED100;
}

.Products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .Products .Product_name {
    height: 75px;
  }
  .Products .Product_item {
    width: 250px;
    margin-top: 20px;
  }
  .Products .Products-img {
    width: 250px;
  }
  .Products .rating {
    margin: 7px 0;
    list-style: none;
    display: flex;
    font-size: 20px;
    padding-inline-start: 0px;
  }

  .Product_item h3{
    height: 70px;
    text-align: left;
  }