* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  /* Nên để full width */
  /* Solution: width: 100%; hoặc bỏ thuộc tính width*/
  /* width: 1000px; */
  height: 1500px;
  border: 1px solid white;
}
.box__origin {
  /* Tại sao lại là 80%? */
  /* Solution: width: 100%; hoặc bỏ thuộc tính width*/
  /* width: 80%; */
  text-align: center;
}
.box__menu {
  /* Height header nên để cố định, vì nếu để %, height header sẽ tự dài khi web càng nhiều thành phần*/
  /* Solution: height: 64px*/
  height: 5%;
  background: rgb(98, 98, 180);
}
.box__banner {
  /* Height banner tương tự menu ở trên */
  height: 40%;
  background: rgb(78, 201, 78);
}
.box__main1 {
  /* Height banner tương tự menu ở trên */
  height: 15%;
}
.box__main1--flex {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.box__main1_left {
  /* Nên dùng calc(100% / 3) để ra chính xác hơn */
  width: 33.333%;
  text-align: center;
  background: rgb(92, 27, 27);
}
.box__main1_center {
  width: 33.333%;
  text-align: center;
  background: gray;
}
.box__main1_right {
  width: 33.333%;
  text-align: center;
  background: palevioletred;
}
.box__main2 {
  height: 30%;
}
.box__main2--flex {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.box__main2_row1_left {
  width: 50%;
  text-align: center;
  background: greenyellow;
}
.box__main2_row1_right {
  width: 50%;
  background: blue;
}
.box__footer {
  background: purple;
  height: 10%;
}
