*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .footer{
    background-color: grey;
    color: aliceblue;
    padding: 16px;
}


.item{
    padding: 10px;
    background-color: aqua;
    margin-bottom: 10px;
    
}

.sidebar{
    margin: 16px;
    float: left;
    width: 30%;

}

.content {
    padding-top: 32px;
}

.content p {
    margin-bottom: 16px;
}

.clear{
    clear: both;
}

.bai2 .body{
    max-width: 1200px;
    margin: 16px auto;
    
}

.bai2 .top-body .main-content{
    float: left;
}

.bai2 .top-body .main-content{
    width: 70%;
    background-color: green;
    min-height: 300px;


  
}

.bai2 .top-body  .side-bar{
    float: right;
    width: 29%;
    margin-left: 10px;
    background-color: blueviolet;
    min-height: 300px;
  
}

.bai2 .bot-body{
    margin-top: 10px;
}

.bai2 .bot-body .twin{
    width: 49.5%;
    background-color: orange;
    min-height: 300px;
    
}

.bai2 .twin-left{
    float: left;
}

.bai2 .twin-right{
    float: right;
    margin-left: 10px;
}

.bai2 .footer{
    margin-top: 10px;
}

.bai2 .tille{
    color: aliceblue;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 300px;
}