*{
    margin: 0;
    padding: 0;
} 


#one{
    width: 50%;
    border: 2px solid rgb(64, 214, 94);
    margin: 70px 0 70px 70px ;
}

#two{
    width: 50%;
    
    border: 2px solid rgb(64, 214, 94);
    padding: 70px 0 70px 70px ;
}

.box_1{
    display: inline;
    border: 2px solid red ;
    padding: 50px 0 ;
}

#three{
    display: inline;
    border: 2px solid rgb(64, 214, 94);
}

.box_2{
    display: flex;
    justify-content: space-evenly;
    background-color: #AEC5D1;
   
}

.item{
    border-right:  1px solid #8EB7CC;
    padding: 20px 0;
    text-align: center;
    flex: 1 1 auto ; 
    font-weight: bold;
}

.item:hover{
    background-color: #E1E8ED;
}