.test1{
    margin: 70px;
    border: 1px solid rgb(43, 224, 40);
    width: 500px;
    text-align: center;
}

.test2{
    border: 1px solid rgb(43, 224, 40) ;
    padding: 70px;
    width: 50%;
}
.test3{
    border: 1px solid rgb(43, 224, 40)  ;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 25%;


}
.test3 p{
    border: 1px solid red;
    margin-right: 0px;
   
    
}

    
.test4 p{
    display: inline-block;
    border: 1px solid greenyellow;
    width: 100px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    padding-top:20px ;
    background-color: aquamarine;

}
.test4 :hover{
    background-color: beige;
}