*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;

   
}

.row-2{
    display: flex;
    
   
}

.col-1{
    flex: 1;
    background-color: red;
    height: 320px;
    margin-right: 10px;
     
}

.row-1{
    min-height: 150px;
    background-color: green;
    margin-bottom: 10px;
}

.row-2{
    min-height: 150px;
 
}


.col-2{
    flex: 2;
    
    
}

.col-3{
    flex: 1;
    background-color: pink;
    margin-right: 10px;
    
}

.col-4{
    flex: 1;
}

.col-1 ,.row-1, .col-3, .row-3 , .row-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tille{
    color: aliceblue;
   

  
}

.row-3{
    margin-bottom: 10px;
    background-color: blue;
    min-height: 75px;
}

.row-4{
    background-color: blue;
    min-height: 75px;
}

/* css mobile */
@media (max-width: 767px){
    .main{
        display: flex;
        flex-direction: column;
    }

    .col-1{
        min-height: 90px;
        margin-bottom: 10px;


    }
    
    .row-1 {

        width: 100%;
        min-height: auto;
    }

    .col-1, .col-3 {

        width: 100%;
    }

    .row-3, .row-4 {

        width: 100%;
        min-height: 75px;
    }

    .row-2{
        flex-direction: column;
    }

    
  
}