*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.container{
    background-color: #E4F0FF;
    width: 600px;
    height: 530px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 10px;
    justify-content: space-around;
    grid-gap: 10px;
}
.gi{
   border: 1px solid #E4F0FF;
   padding: 20px;
   text-align: center;
}
.left,.mid,.right{
    height: 300px;
}
.left{
    background-color: #67A4FF;
}
.right{
    background-color: #67A4FF;
}
.mid{
    background-color: #A5A6AB;
}
.top,.bot{
    height: 40px;
}
.top2{
    background-color: #0069FF;
    grid-column-start: 1;
    grid-column-end: 4;
}
.bot{
    background-color: #0069FF;
    grid-column-start: 1;
    grid-column-end: 4;
}
.left p,.mid p,.right p{
    color: white;
    font-size: large;
    padding-top: 100px;
}
h1,h2{
    color: white;
    padding-top: 5px;
}
