*{
    margin: 0;
    padding: 0;
}
.container{
    width: 600px;
    height: auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 10px;  
}
.gi{
    border: 1px solid black;
    text-align: center;
}
.top{
    background-color: #FF9CA5;
    height: 60px;
}
.left,.mid,.right{
   height: 200px;
}
.left{
    background-color: #42D895;
}
.mid{
    background-color: #FFDB68;
}
.right{
    background-color: #00C7F0;
}
.bot{
    background-color: #B89CC9;
    height: 30px;
}
.top p{
    padding-top: 20px;
    font-weight: bold;
}
.bot p {
    padding-top: 5px;
    font-weight: bold;
}
.left p,.mid p,.right p{
    padding-top: 80px;
    font-weight: bold;
}
