*{
    margin: 0;
    padding: 0;
}

.main{
    border: 5px solid gray;
    width: 100vw;
    float: left;
}

.title{
    background-color: #52A7F9;
}

.title h2{
    color: white;
    --height: 70px;
    height: var(--height);
    line-height: var(--height); 
    padding-left: 20px;
}

.box{
    display:grid;
    grid-template-columns: 250px 100px 150px;
    grid-template-rows: 200px 150px;
    justify-content: center;
    gap: 5px;
    margin: 5px auto;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.main-content{
    background-color: #6FC041;
    grid-column: 1/ span 2;
    
}

.sidebar{
    background-color: #B369E1;
}

.twin1{
    background-color: #F3901A;
}
.twin2{
    background-color: #F3901A;
    grid-column: 2/ span 2;
}

footer{
    background-color: #0265C0;
    color: white;
    --height: 55px;
    height: var(--height);
    line-height: var(--height); 
    padding-left: 20px;
}