.choice{
    background-color: #337AB7;
    color: white;
    height: 40px;
    width: 80px;
    border-radius: 5px ;
    border: none;
}

.choice:hover{
    background-color: #97aec2;
}

#log{
    font-style: italic;
    color: red;
    line-height: 50px;
}