*{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: #5F9EA0;
    text-align: center;
    font-weight: bold;
    height: 5vh;
}

.banner{
    background-color: #13DD67;
    text-align: center;
    font-weight: bold;
    height: 30vh;
}

.main1{
    display: flex;
    justify-content: space-around;
   
}

.box1{
    height: 25vh;
    width: calc(100% / 3);
    text-align: center;
    font-weight: bold;

}

.main1__box1--left{
    background-color: #8B0000;
}
.main1__box1--center{
    background-color: #B7CEB4;
}
.main1__box1--right{
    background-color: #E9125A;
}

.main2{
    display: flex;
}

.box2{
    width: calc(100% / 2);
    height: 25vh;
    font-weight: bold;
    text-align: center;
}

.main2__box2--left{
    background-color: #7CFC00 ;
}

.main2__box2--right{
    background-color: #4300FC;
}

footer{
    background-color: #9932CC;
    height: 15vh;
    font-weight: bold ;
    text-align: center;
}