$bg_color: blue;

.container1{
    background-color: $bg_color;
    width: 200px;
    height: 200px;
    p{
        color: greenyellow;
    }
}@mixin common-container{
    background-color: orange;
}
.container2{
    @include common-container;
}