.col1{
    background-color: #5F9EA0;   
    height: 5vh;
}

.col2{
    background-color: #13DD67;
    height: 35vh;
}

.col31{
    background-color: #8B0000;
}

.col32{
    background-color: #B7CEB4;
}

.col33{
    background-color: #E9125A;
}

.col41{
    background-color: #7CFC00;
}

.col42{
    background-color: #4300FC;
}

.col5{
    background-color: #9932CC;
    height: 10vh;
}

.container{  
    height: 100vh;
    font-weight: bold;
}

.three{
    height: 25vh;
}

.four{
    height: 25vh;
}

