.b1{
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 70px;
}

.b2_1{
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 70px;
}
.b2_2{
    border: 2px solid green;
    width: 200px;
}
.b3_1{
    
}
.menu{
    background-color: gray;
    height: 70px;
}
.b3_ul{
    display: flex;
    margin-left: 30px;
    text-align: center;
}
.b3_ul li{
    list-style: none;
    width: 250px;
    margin-left: 30px;
}
.b3_ul li a{
    text-decoration: none;
    display: block;
    font-size: 30px;
    border-right: 2px solid blue;
    color: black;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}
.b3_ul li a:hover{
    background-color: aliceblue;
}
