* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
}

.banner {
    background-color: rgb(17, 190, 17);
    text-align: center;
    height: 250px;
    font-weight: bold;
}

#mybox {
    display: flex;
    text-align: center;
    font-weight: bold;
    height: 150px;

}

.box {
    flex: 1;
}

.box1 {
    background-color: brown;

}

.box2 {
    background-color: grey;
}

.box3 {
    background-color: red;
}

.box4 {
    background-color: greenyellow;
}

.box5 {
    background-color: blue;
}

.footer {
    background-color: purple;
    text-align: center;
    height: 150px;
    font-weight: bold;
}