* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.header {
    background-color: gray;
    color: white;
    padding: 10px;
}

.footer {
    background-color: gray;
    color: white;
    padding: 10px;
}

.item {
    float: left;
    width: 25%;
    padding: 10px;
}

.item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
}

.float-clear::after {
    content: "";
    clear: both;
    display: table;
}
.text{
    width: 75%;
    padding: 35px;
}

.header2, .footer2{
    background-color: #33b5e5;
    color: #ffffff;
    padding: 10px;height: 50px;
}
.main2{
    align-items: center;
    margin: 5px;
    box-sizing: border-box;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    height: 500px;
    
}
.main-content{
    background-color: chartreuse;
    width: 75%;
    float: left;
    height: 300px;
    border-right: 5px solid white;
}
.side-bar{
    background-color: violet;
    float: right;
    width: 25%;
    height: 300px;
}
.twin1{
    border-right: 5px solid white;
    background-color: coral;
    height: 200px;
    width: 50%;
    float: left;
}
.twin2{
    background-color: coral;
    height: 200px;
    width: 50%;
    float: right;
    
}