h1{
    
    border-style:groove;
    border-color: green;
    margin: 70px 0 70px 70px;
    display: inline-block;
}
h2{
    border-style: groove;
    border-color: green;
    padding: 70px 0 70px 70px;
    display: inline-block;
}
h3
{
    .father{
        width: 250px;
        height:125px;
        position: relative;
        border: 1px solid red;
        
    }
    .son{
        width:250px;
        height:77px;
        position: absolute;
        border: 1px solid green;
       padding: 10px 0 10px 0;
    }
}
.h4:hover{padding: 30px;
    background-color: antiquewhite;}
h4{
    width: fit-content;
    text-align: center;
    table-layout: fixed;
    position: fixed;
    display: inline;
    width: 100vh;
    background-color: gray;
    
}