*{
    margin: 0 ;
    padding: 0;
}

.Products-img{
    height: 220px;
    width: 200px;
}

.Products-item h3 ,.star{
   margin: 10px 0;
}

.Products{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
    justify-content:space-evenly; 
}

.button-add{
    margin-left:20px ;
    background-color: white;
    border: 0;
}


