<div class="container-fluid">
    <div class="d-flex collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-dark" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="../admin/index.html">Admin</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#"><i class="fas fa-user"></i> Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#"><i class="fas fa-user-plus"></i> Signup</a>
            </li>
        </ul>
    </div>
</div>