*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bai1{

    margin: 70px 0 70px 70px;;
    border-style:  groove ;
    border-color: green;

}

.bai2_1{
    padding: 70px 0 70px 70px;
    max-width: 700px;
    border-style: solid ;
    border-color: green;
    margin-bottom: 20px;

}

.bai2{
    
    border-style: solid ;
    border-color: green;
    margin: 75px 0;
  
}

.cha{
   min-height: 150px;
   width: fit-content;
    border-style: solid ;
    border-color: rgb(240, 5, 5);
    margin: auto 0;
    margin-bottom: 20px;
    
}

.list{
        
    background-color: rgba(127, 255, 255, 0.51);
    border: 1px solid #000;   
    width: 100%;
    display: flex;
}



.list li{
    list-style-type: none;
    border-right: 1px solid #000;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.list li:hover{
    background-color: red;
    color: aliceblue;
}