.title{
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}
.layer{
    margin-top: 40px;
    display: flex;;
}
.img{
    width: 300px;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
}
.main1{
    width: calc(100% / 3);
    text-align: right;
    font-weight: bold;
    display: inline;
    margin: 0px 10px 0px 10px;
}
.word1{
    margin: 10px 20px 0 40px;
    font-weight: 300;
}
.main2{
    width: calc(100% / 3);
    text-align: left;
    font-weight: bold;
    display: inline;
    margin: 0px 10px 0 10px;
}
.word2{
    margin: 10px 40px 0 20px;
    font-weight: 300;
}
.layer__l1::after{
    background-image: url(10.jpg);
    width: 64px;
    height: 64px;
    content: "";
    display: inline;
    margin: 0 10px 0 40px;
}

.line {
    width: 64px;
    height: 2px;
    background-color: orange;
    margin: 8px auto;
}
.