*{
    margin: 0;
    padding: 0;
}
.container{
    width: 600px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    /* grid-auto-rows: minmax(200px,auto); */
}
.b1{
    background-color: #FFD880;
    height: 100px;
    border-radius: 20px;
    grid-column: 1 / 4;
    grid-row: 1;
}
.b2{
    background-color: #F14668;
    height: 100px;
    border-radius: 20px;
}
.b3{
    background-color: #FFD880;
    grid-area: 2 / 2 / 4 / 3;
    border-radius: 20px;
    height: 200px;
}
.b4{
    background-color: #F14668;
    border-radius: 20px;
    height: 100px;
}
.b5{
    background-color: #FFD880;
    border-radius: 20px;
    height: 200px;
}
.b6{
    background-color: #F14668;
    border-radius: 20px ;
    height: 100px;
}
.b7{
    background-color: #FFD880;
    border-radius: 20px;
    height: 100px;
}